<% if params[:metonic] == "1" %>
	<% metonic = true %>
<% else %>
	<% metonic = false %>
<% end %>

<% year_input = params[:year] %>
<% month_input = params[:month] %>

<% date = Coligny::ColignyYear.new(params[:year].to_i, metonic) %>
<% month = date.months.find { |s| s.name == params[:month] } %>

<div class="spacer"></div>

<% if params[:year].present? && params[:month].present? %>
	<% if !date.months.find { |s| s.name == params[:month] }.nil? %>
		<div class="calendar-header-wrapper">
			<% if date.months[date.months.index(month) - 1].name == "Cantlos" %>
				<% if metonic %>
					<h2 class="calendar-arrow"><a href="/?year=<%= year_input.to_i - 1 %>&month=<%= Coligny::ColignyYear.new((year_input.to_i - 1), true).months[-1].name %>&metonic=1">&#9664;</a></h2>
				<% else %>
					<h2 class="calendar-arrow"><a href="/?year=<%= year_input.to_i - 1 %>&month=<%= Coligny::ColignyYear.new((year_input.to_i - 1)).months[-1].name %>">&#9664;</a></h2>
				<% end %>
			<% else %>
				<% if metonic %>
					<h2 class="calendar-arrow"><a href="/?year=<%= year_input %>&month=<%= date.months[date.months.index(month) - 1].name %>&metonic=1">&#9664;</a></h2>
				<% else %>
					<h2 class="calendar-arrow"><a href="/?year=<%= year_input %>&month=<%= date.months[date.months.index(month) - 1].name %>">&#9664;</a></h2>
				<% end %>
			<% end %>
			<h2 class="calendar-header"><%= params[:month] + " " + params[:year] %></h2>
			<% if date.months[date.months.index(month) + 1].nil? %>
				<% if metonic %>
					<h2 class="calendar-arrow"><a href="/?year=<%= (params[:year].to_i + 1).to_s %>&month=<%= Coligny::ColignyYear.new((params[:year].to_i + 1), true).months[0].name %>&metonic=1">&#9654;</a></h2>
				<% else %>
					<h2 class="calendar-arrow"><a href="/?year=<%= (params[:year].to_i + 1).to_s %>&month=<%= Coligny::ColignyYear.new((params[:year].to_i + 1)).months[0].name %>">&#9654;</a></h2>
				<% end %>
			<% else %>
				<% if metonic %>
					<h2 class="calendar-arrow"><a href="/?year=<%= params[:year] %>&month=<%= date.months[date.months.index(month) + 1].name %>&metonic=1">&#9654;</a></h2>
				<% else %>
					<h2 class="calendar-arrow"><a href="/?year=<%= params[:year] %>&month=<%= date.months[date.months.index(month) + 1].name %>">&#9654;</a></h2>
				<% end %>
			<% end %>
		</div>
		<div class="calendar-wrapper">
			<div class="calendar-block week-header">
				<p class="weekday-label">Sun</p>
			</div>
			<div class="calendar-block week-header">
				<p class="weekday-label">Mon</p>
			</div>
			<div class="calendar-block week-header">
				<p class="weekday-label">Tue</p>
			</div>
			<div class="calendar-block week-header">
				<p class="weekday-label">Wed</p>
			</div>
			<div class="calendar-block week-header">
				<p class="weekday-label">Thu</p>
			</div>
			<div class="calendar-block week-header">
				<p class="weekday-label">Fri</p>
			</div>
			<div class="calendar-block week-header">
				<p class="weekday-label">Sat</p>
			</div>
			<% start_day = Coligny::ColignyDate.new(params[:year].to_i, params[:month], 1, metonic).to_gregorian_date.wday %>
			<% start_day.times do |blank| %>
				<div class="calendar-block">-</div>
			<% end %>
			<% (1...(month.days + 1)).each do |day| %>
				<div class="calendar-block">
					<h1><%= day %></h1>
					<h4><%= Coligny::ColignyDate.new(params[:year].to_i, params[:month], day, metonic).to_gregorian_date.strftime('%d %b %Y') %></h4>
				</div>				
			<% end %>
			<% (42 - (month.days + start_day)).times do |blank| %>
				<div class="calendar-block">
					<h4>-</h4>
					<h1>&thinsp;</h1>
				</div>
			<% end %>
		</div>		
	<% else %>
		<p>Month Not Present in Specified Year</p>
	<% end %>		
<% else %>
	<% date = Date.today.to_coligny_date(true) %>
	<%= controller.redirect_to "?year=#{date.year}&month=#{date.month.name}&metonic=1" %>
<% end %>

<br />

<% if metonic %>
	<%= check_box_tag :metonic, "1", true %>
<% else %>
	<%= check_box_tag :metonic %>
<% end %>
<%= label_tag :metonic, "Metonic?" %> 

<script type="text/javascript">
	$(document).ready(function() { 
		
		$("input[type='checkbox']").change(function(){
			var item=$(this);    
			if(item.is(":checked"))
				{
					location.href = '/?year=<%= params[:year] %>&month=<%= params[:month] %>&metonic=1';
				}  else {
					location.href = '/?year=<%= params[:year] %>&month=<%= params[:month] %>';
				}  
 		});
	})
</script>
