<!DOCTYPE html>
<html>
  <head>
    <title>ColignyPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  	<meta name="HandheldFriendly" content="true" />
	<meta name="theme-color" content="#5787d7" />
  </head>

  <body>
  	<% if notice.present? %>
	  <p class="notice"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
	  <p class="alert"><%= alert %></p>
	<% end %>
	
  	<div class="navbar">
  		<div class="navbar-left">
  			<span class="navbar-burger navbar-span">&#x2261;</span>
  			<h2><%= link_to 'Calendar', root_path %></h2>
  		</div>
  		<span class="navbar-dot navbar-span">&#x22ee;</span>
  	</div>
  	
  	<div class="side-menu">
  		<br />
  		<div class="side-menu-header">
  			<h2 style="font-weight: 300;"><%= Time.zone.now.to_date.strftime('%A') %></h2>
  			<% if params[:metonic] == "1" %>
  				<% today = Time.zone.now.to_date.to_coligny_date(true) %>
  			<% else %>
  				<% today = Time.zone.now.to_date.to_coligny_date %>
  			<% end %>
  			<h2><%= today.month.name + " " + today.day.to_s + ", " + today.year.to_s %></h2>
  			<h3 style="font-weight: 300;"><%= Time.zone.now.strftime('%l:%M %P') %></h3>
  		</div>
  		<br />
  		<div class="side-menu-link-container">
  			<% if user_signed_in? %>
  				<div class="side-menu-link-wrapper">
		  			<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
		  		</div>
		  		<div class="side-menu-link-wrapper top-border">
		  			<%= link_to 'Events', '#' %>
		  		</div>
		  	<% else %>
		  		<div class="side-menu-link-wrapper">
		  			<%= link_to 'Sign Up', new_user_registration_path %>
		  		</div>
		  		<div class="side-menu-link-wrapper top-border">
		  			<%= link_to 'Sign In', new_user_session_path %>
		  		</div>
		  	<% end %>
  		</div>  		
  	</div>
  	
  	<div class="dot-menu">
  		<div class="dot-menu-option">
  			<% if params[:metonic] == "1" %>
				<div class="toggle on"></div>
			<% else %>
				<div class="toggle off"></div>
			<% end %>
			Metonic
  		</div>
  		<div class="dot-menu-option top-border-light">
  			Filler
  		</div>
  	</div>
  	
  	<div class="shader"></div>
  	
    <%= yield %>
    
    <script type="text/javascript">
    	$(document).ready(function(){
    		$('.shader').hide();
    		$('.side-menu').hide();
    		$('.dot-menu').hide();
    		$('.navbar-burger').click(function(){
    			if (!$('.dot-menu').is(":visible")) {
    				$('.shader').toggle();
    			}
    			$('.side-menu').slideToggle();
    		});
    		$('.navbar-dot').click(function() {
    			if (!$('.side-menu').is(":visible")) {
    				$('.shader').toggle();
    			}
    			$('.dot-menu').slideToggle();
    			$('.dot-menu').toggleClass( 'dot-menu-shadow' )
    		});
    	});
    </script>
  </body>
</html>
